<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员-图书管理系统</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet"/>

</head>

<div class="layui-layout layui-layout-admin">

    <div th:include="common/admin_header :: header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <img src="/static/images/图书.svg"
                             style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                        <span>书籍管理</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/addBookPage">&emsp;&emsp;录入新书</a></dd>
                        <dd><a href="/addCategoryPage?pageNum=1">&emsp;&emsp;新建类别</a></dd>
                        <dd><a href="/showBooksPage">&emsp;&emsp;查询书籍</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <img src="/static/images/档案.svg"
                             style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                        <span>用户管理</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/showUsersPage?pageNum=1">&emsp;&emsp;查询用户</a></dd>
                        <dd><a href="/addUserPage">&emsp;&emsp;新增用户</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <img src="/static/images/历史.svg"
                             style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                        <span>借阅信息</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/allBorrowBooksRecordPage?pageNum=1">&emsp;&emsp;所有记录</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item ">
                    <a href="/adminInfoPage">
                        <img src="/static/images/用户.svg"
                             style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                        <span>个人信息</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body ">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">

                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">
                            <img src="/static/images/历史.svg"
                                 style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                            <span>借阅信息</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/userBorrowBookRecord">&emsp;&emsp;借书记录</a></dd>
                            <dd class="layui-this"><a href="/borrowingPage">&emsp;&emsp;借阅书籍</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">
                            <img src="/static/images/图书.svg"
                                 style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                            <span>书籍管理</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/userReturnBooksPage">&emsp;&emsp;归还书籍</a></dd>
                            <dd><a href="/findBookPage">&emsp;&emsp;查询书籍</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/userMessagePage">
                            <img src="/static/images/用户.svg"
                                 style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                            <span>个人信息</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="position: relative; width: 100%; height:100%; display: flex; flex-direction: column;">
            <div style="width: 100%;height: 100%;position: absolute;left: 0;top:0;background: url('/static/images/bg.jpg') no-repeat;
    background-size: cover;filter: blur(7px);"></div>
            <div style="width: 100%;	height: 100%;position: absolute;	z-index: 5;">
                <div class="layui-container">
                    <div class="layui-carousel layui-container" id="index" style="margin-top: 40px;">
                        <div carousel-item>
                            <div><img src="/static/images/lib1.jpg"/></div>
                            <div><img src="/static/images/lib2.jpg"/></div>
                            <div><img src="/static/images/lib3.jpg"/></div>
                            <div><img src="/static/images/lib4.jpg"/></div>
                            <div><img src="/static/images/lib5.jpg"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="common/footer :: footer"></div>

</div>

<script src="/static/scripts/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script>

    layui.use(['carousel', 'element'], function () {
        let carousel = layui.carousel;
        let element = layui.element;

        //建造实例
        carousel.render({
            elem: '#index'
            , width: '900' //设置容器宽度
            , height: '550px' //设置容器高度
            // , full:'true' //是否全屏轮播,默认false
            // , arrow: 'always' //始终显示箭头和点击按钮
            // ,anim: 'updown' //切换动画方式，可从各个方向滚动
        });
    });

</script>

</body>
</html>
