<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>普通用户-图书管理系统</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet"/>

</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div th:include="common/user_header :: header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">
                        <img src="/static/images/历史.svg"
                             style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                        <span>借阅信息</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userBorrowBookRecord">&emsp;&emsp;借书记录</a></dd>
                        <dd><a href="/borrowingPage">&emsp;&emsp;借阅书籍</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <img src="/static/images/图书.svg"
                             style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                        <span>书籍管理</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userReturnBooksPage">&emsp;&emsp;归还书籍</a></dd>
                        <dd><a href="/findBookPage">&emsp;&emsp;查询书籍</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="/userMessagePage">
                        <img src="/static/images/用户.svg"
                             style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                        <span>个人信息</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body ">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">

                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">
                            <img src="/static/images/历史.svg"
                                 style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                            <span>借阅信息</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/userBorrowBookRecord">&emsp;&emsp;借书记录</a></dd>
                            <dd class="layui-this"><a href="/borrowingPage">&emsp;&emsp;借阅书籍</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">
                            <img src="/static/images/图书.svg"
                                 style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                            <span>书籍管理</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/userReturnBooksPage">&emsp;&emsp;归还书籍</a></dd>
                            <dd><a href="/findBookPage">&emsp;&emsp;查询书籍</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="/userMessagePage">
                            <img src="/static/images/用户.svg"
                                 style="width: 30px; height: 30px; margin-right: 10px; display: inline-block">
                            <span>个人信息</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="position: relative; width: 100%; height:100%; display: flex; flex-direction: column;">
            <div style="width: 100%;height: 100%;position: absolute;left: 0;top:0;background: url('/static/images/bg.jpg') no-repeat; background-size: cover;filter: blur(7px);"></div>
            <div style="width: 100%;	height: 100%;position: absolute;	z-index: 5;">
                <div class="layui-container">
                    <div style="margin-top: 100px">
                        <hr class="layui-bg-blue">
                        <h3 style="font-size: xx-large; text-align: center"> 个 人 信 息 </h3>
                        <hr class="layui-bg-blue">
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md8 layui-col-lg-offset2">
                            <table class="layui-table">
                                <thead>
                                <tr>
                                    <th>用户id</th>
                                    <th>用户姓名</th>
                                    <th>用户邮箱</th>
                                    <th>用户密码</th>
                                </tr>
                                </thead>

                                <tr>
                                    <td><b th:text="${session.user.getUserId()}"></b></td>
                                    <td><b th:text="${session.user.getUserName()}"></b></td>
                                    <td><b th:text="${session.user.getUserEmail()}"></b></td>
                                    <td><b th:text="${session.user.getUserPwd()}"></b></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="layui-row">
                        <button class="layui-btn" id="modify-user" style="display: block; margin: 10px auto;">修改信息</button>
                    </div>

                    <div id="window" style="margin: 5%; display: none" title="修改信息">
                        <form class="layui-form" id="updateUserForm">
                            <div class="layui-form-item">
                                <label class="layui-form-label">名字</label>

                                <div class="layui-input-block">
                                    <input class="layui-input" id="name" name="userName" th:value="${session.user.getUserName()}"
                                           type="text">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>

                                <div class="layui-input-block">
                                    <input class="layui-input" id="email" name="UserEmail" th:value="${session.user.getUserEmail()}"
                                           type="text">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>

                                <div class="layui-input-block">
                                    <input class="layui-input" id="password" name="userPwd" th:value="${session.user.getUserPwd()}"
                                           type="text">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="common/footer :: footer"></div>

</div>


<script src="/static/scripts/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/scripts/user/userMessage.js"></script>

</body>
</html>
